@model ReporteTransaccionesDetalladas
@{
    ViewData["Title"] = "Movimientos Cuentas";
}

<h1>Movimientos @ViewBag.Cuenta</h1>

<h4>
    <a asp-route-mes="@ViewBag.mesAnterior" asp-route-año="@ViewBag.añoAnterior" class="btn btn-secondary">
        <i class="bu-chevron-left"></i>
    </a>
    @Model.FechaInicio.ToString("MMM")-@Model.FechaInicio.Year
    <a asp-route-mes="@ViewBag.mesPosterior" asp-route-año="@ViewBag.añoPosterior" class="btn btn-secondary">
        <i class="bu-chevron-right"></i>
    </a>
</h4>

<div class="contenedor-totales mb-3">
    <div>
        <div>
            <strong>Depositos</strong>
        </div>
        <div class="activo">
            @Model.BalanceDepositos.ToString("M")
        </div>
    </div>
    <div>
        <div>
            <strong>Retiros</strong>
        </div>
        <div class="pasivos">
            @Model.BalanceRetiros.ToString("M")
        </div>
    </div>
    <div>
        <div>
            <strong>Depositos</strong>
        </div>
        <div>
            @Model.Total.ToString("M")
        </div>
    </div>
</div>

if(@Model.TransaccioneAgrupadas.Count()==0)
{
<h5>No hay datos para mostrar</h5>
}
else{
    <table class="table">
        <tbody>
            @foreach(var transccionAgrupada in Model.TransaccioneAgrupadas)
            {

                <tr style="background-color: lightblue; font-size:26px">
                    <td colspan="3">
                        @transccionAgrupada.FechaTransaccion.Day
                        <span class="badge btn-secondary">
                            @transccionAgrupada.FechaTransaccion.ToString("ddd")
                        </span>
                    </td>
                    <td class="activo">@transccionAgrupada.BalanceDepositos.ToString("N")</td>
                    <td class="pasivo">@transccionAgrupada.BalanceRetiros.ToString("N")</td>
                </tr>
                foreach(var transacciones in transccionAgrupada.Transacciones)
                {
                    <tr sryle="vertical=align: middle">
                        <td>
                            <a asp-controller="transacciones" asp-action="Ediar" asp-route-id="@transacciones.Id" asp-route-urlRetorno="@ViewBag.urlRetorno.">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>
                        <td>@transacciones.Categoria</td>
                        <td>@transacciones.Cuenta</td>
                        <td class="activo">@(transacciones.TipoOperacionId == TipoOperacion.Ingresos) ? transaccion.Monto.ToString("N") : null</td>
                        <td class="pasivo">@(transacciones.TipoOperacionId == TipoOperacion.Gastos) ? transaccion.Monto.ToString("N") : null</td>
                    </tr>
                }

            }
        </tbody>
    </table>
}