@model ReporteTransaccionesDetalladas
@{
    ViewData["Title"] = "Movimientos Cuentas";
}

<h1>Movimientos @ViewBag.Cuenta</h1>

<h4>
    <a asp-route-mes="@ViewBag.mesAnterior" asp-route-año="@ViewBag.añoAnterior" class="btn btn-secondary">
        <i class="bu-chevron-left"></i>
    </a>
    @Model.FechaInicio.ToString("MMM")-@Model.FechaInicio.Year
    <a asp-route-mes="@ViewBag.mesPosterior" asp-route-año="@ViewBag.añoPosterior" class="btn btn-secondary">
        <i class="bu-chevron-right"></i>
    </a>
</h4>

<div class="contenedor-totales mb-3">
    <div>
        <div>
            <strong>Depositos</strong>
        </div>
        <div class="activo">
            @Model.BalanceDepositos.ToString("M")
        </div>
    </div>
    <div>
        <div>
            <strong>Retiros</strong>
        </div>
        <div class="pasivos">
            @Model.BalanceRetiros.ToString("M")
        </div>
    </div>
    <div>
        <div>
            <strong>Depositos</strong>
        </div>
        <div>
            @Model.Total.ToString("M")
        </div>
    </div>
</div>

if(@Model.TransaccioneAgrupadas.Count()==0)
{
<h5>No hay datos para mostrar</h5>
}
else{
    <table class="table">
        <tbody>
            @foreach
        </tbody>
    </table>
}